[submodule "thewoood/thewoood.github.io"]
	path = thewoood/thewoood.github.io
	url = https://github.com/thewoood/thewoood.github.io.git
	branch = main
[submodule "thewoood/public"]
	path = thewoood/public
	url = https://github.com/thewoood/thewoood.github.io.git
	branch = main
